body {
    background-color: rgb(165, 174, 184);
}

.movie-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
    row-gap: 20px;
    column-gap: 40px;
    background-color: rgb(165, 174, 184);
    margin-left: 30px;

}

.movie-detail-grid {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: .5fr .5fr 1fr;
    width: 100%;
    column-gap: 25px;
    row-gap: 0;
}


.movie-detail-left-item {
    display: flex;
    grid-column: 2;
    grid-row: 1 / 2;
    justify-content: right;
}

.movie-detail-right-item {
    grid-column: 3;
    grid-row: 1 / 2;
}

.top-title {
    color: rgb(248, 239, 239);
    margin-left: 20px;
}

.movie-list-container {
    background-color: rgb(165, 174, 184);
}

.search {
    padding: 20px 0 20px 0;
    position: fixed;
    top: 10px;
    left: 400px;
}

.movie-flex-card {
    background-color: rgb(124, 137, 150);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 30px;
    border-radius: 3%;
}

.movie-flex-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.movie-flex-vitals {
    padding: 2px 16px;
}

.movie-poster-img-sm {
    height: 350px;
    width: 250px;
}

.movie-poster-img-lg {
    height: 600px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(85, 116, 175);
    width: 100%;
    border-bottom: 2px solid white;
}

.banner-pad {
    margin: 100px;
}

.new-movie-container {
    padding: 30px;
    display: flex;
    flex-direction:row;
}